<style>
  .style_image {
    height: 100px;
    width: 30%;
  }
</style>
<div class="container">

  <div class="row p-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 d-flex justify-content-center">
      <%= image_tag 'logo.png', class: "style_image", style: 'width: 30%', alt: 'logo' %>
    </div>
  </div>

  <div class="row p-5">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 p-4" style="background-color: white; border-radius: 10px 10px 10px 10px;">
      <h6>Please enter code which have sent on your email address</h6>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
        <input type="text" name="entercode" class="form-control p-2" style="border-radius: 10px 10px 10px 10px;" placeholder="Enter code &nbsp;&nbsp;&nbsp;&nbsp; shou43!qeui">
        <p style="font-size: 13px" class="mt-2">By verifying you accept our <a href="" #>Terms and Conditions</a></p>
        <div class="actions">
          <%= f.submit "Proceed", class: "btn btn-lg btn-block mt-3", :style => "border-radius: 10px 10px 10px 10px; background-color: #0af2d3;" %>
        </div>
      <% end %>

    </div>
    <div class="col-sm-4"></div>
  </div>
</div>