/*Main CSS*/


/*Login Signup Page*/
a:focus, a:hover, a {
    outline: none;
    text-decoration: none;
}

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

.header-top i {
    font-size: 18px;
}

.bg-image {
    background: url(../images/background-login.jpg) no-repeat 0 0 / cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
}

.login-header {
    display: inline-block;
    width: 100%;
    background: #0e1a35;
}

.login-signup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.login-logo img {
    cursor: pointer;
    max-width: 171px;
    padding: 23px 15px 22px;
    width: 100%;
}

.login-header .navbar-right {
    margin-right: 0px;
}

.login-header .nav-tabs > li.active > a,
.login-header .nav-tabs > li.active > a:focus,
.login-header .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

.login-header .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 15px 30px;
    color: #fff;
}

.login-header .nav-tabs {
    border-bottom: none;
}

.login-header .nav-tabs > li {
    margin-bottom: 0px;
}

.login-header .nav > li > a:focus,
.login-header .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.login-header .nav-tabs > li.active {
    border-bottom: 6px solid #5584ff;
}

.login-inner h1 {
    color: #8492af;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-inner h1 span {
    color: #5584ff;
}

.login-form {
    text-align: center;
}

.login-form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #d4d9e3;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    color: #8492af;
    padding: 15px 50px;
    font-size: 17px;
    max-width: 550px;
}

.login-form label {
    margin-bottom: 30px;
    width: 100%;
}

.user input {
    background: rgba(0, 0, 0, 0) url("../images/user.png") no-repeat scroll 7px 12px;
}

.pass input {
    background: rgba(0, 0, 0, 0) url("../images/password.png") no-repeat scroll 7px 12px;
}

.mail input {
    background: rgba(0, 0, 0, 0) url("../images/mail.png") no-repeat scroll 4px 12px;
}

.login-signup .tab-content {
    background: #ffffff none repeat scroll 0 0;
    minw: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: inline-block;
    margin-top: -8px;
    width: 100%;
}

.form-btn {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 400;
    max-width: 250px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 2px 8px #d2d2d2;
    -moz-box-shadow: 0 2px 8px #d2d2d2;
    -webkit-box-shadow: 0 2px 8px #d2d2d2;
}

.form-btn::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 9px;
}

.form-details {
    padding: 35px 0;
}

.tab-content .tab-pane {
    /*padding: 70px 0;*/
}


/*Login Signup Page*/


/*Home Page*/

.home {
    background: #E6E6E6;
}

#navigation {
    background: #E6E6E6;
}

#navigation {
    padding: 0px;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    /*display: table-row;*/
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}

.logo img {
    max-width: 180px;
    padding: 16px 0 17px;
    width: 100%;
}

.header-top {
    margin: 0;
    padding-top: 2px;
}

.header-top img {
    border-radius: 50%;
    max-width: 48px !important;
    width: 100%;
}

.add-project {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 27px 10px 45px;
    position: relative;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.add-project::before {
    background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
    content: "";;
    height: 12px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 12px;
}

.add-project:hover {
    color: #ffffff;
}

.header-top i {
    color: #0e1a35;
}

.icon-info {
    position: relative;
}

.navi i {
    font-size: 20px;
}

.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}

.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}

.header-top li {
    /*display: inline-block;*/
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -85px;
    padding: 17px;
}

.view {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
}

.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
}

.img-responsive {
    width: 100%;
}

#navigation {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
}

header {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    display: inline-block !important;
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo {
    text-align: center;
}

.navi a {
    /*border-bottom: 1px solid #0d172e;*/
    /*border-top: 1px solid #0d172e;*/
    color: black;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}


/*chat*/
* {
    box-sizing: border-box;
}

body {
    background-color: #edeff2;
    font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
    position: absolute;
    width: calc(100% - 20px);
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}

.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.top_menu .buttons .button.close {
    background-color: #f5886e;
}

.top_menu .buttons .button.minimize {
    background-color: #fdbf68;
}

.top_menu .buttons .button.maximize {
    background-color: #a3d063;
}

.top_menu .title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 347px;
    overflow: scroll;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
}

.messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}

.messages .message.left .text {
    color: #c48843;
}

.messages .message.right .avatar {
    background-color: #fdbf68;
    float: right;
}

.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}

.messages .message.right .text {
    color: #45829b;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
}

.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.bottom_wrapper .send_message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

.bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
}

.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}

.message_template {
    display: none;
}

/*end chat*/
.navi i {
    margin-right: 15px;
    color: black;
}

.navi .active a {
    background: white;
    /*background-color: white;*/
    /*border-left: 5px solid #5584ff;*/
    /*padding-left: 15px;*/
}

.navi {

    padding-left: 15px;
}

.navi a:hover {
    background: white none repeat scroll 0 0;
    /*border-left: 5px solid #5584ff;*/
    display: block;
    padding-left: 15px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0e1a35 !important;
}

.circle-logo {
    margin: 0 auto;
    max-width: 30px !important;
    text-align: center;
}

.hidden-xs {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    padding: 0 20px;
    border-radius: 10px 10px 10px 10px;

}

.user-dashboard h1 {
    color: #0e1a35;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    /*padding: 21px 0;*/
}

.sales {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
}

.sales button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #dadee7;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-right: 32px;
    color: #0e1a35;
}

.sales button::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 11px;
}

.sales .btn-group {
    float: right;
}

.sales h2 {
    color: #8492af;
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}

.btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.sales .dropdown-menu {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 8px;
    width: 100%;
    color: #0e1a35;
}

.sales .btn-group.open .dropdown-toggle, .btn.active, .btn:active {
    box-shadow: none;
}

.sales .dropdown-menu > a {
    color: #0e1a35;
    display: inline-block;
    font-weight: 800;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}

#my-cool-chart svg {
    width: 100%;
}

.sales .dropdown-menu > a:hover {
    color: #5584FF;
}

.shield-buttons {
    display: none;
}

.close, .close:focus, .close:hover {
    color: #fff;;
    opacity: 1;
    text-shadow: none;
}

.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}

.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}

.modal-header.login-header h4 {
    color: #ffffff;
}

.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}

.modal-footer .add-project::before {
    display: none;
}

.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}

.cancel {
    background: #0E1A35;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;

}

.modal {
    top: 20%;
}

.modal-header .close {
    margin-top: 2px;
}

.search input:focus {
    border-bottom: 1px solid #BDC4D4;
    line-height: 22px;
    transition: 0.1s all;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    vertical-align: middle;
    margin-top: 8px;
}


input[type="checkbox"].switch_2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 2px;
    background: #444;
    border-radius: 5px;
    position: relative;
    outline: 0;
    cursor: pointer;
}

input[type="checkbox"].switch_2:before,
input[type="checkbox"].switch_2:after {
    position: absolute;
    content: "";
    -webkit-transition: all .25s;
    transition: all .25s;
}

input[type="checkbox"].switch_2:before {
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 5px solid #666;
    border-radius: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

input[type="checkbox"].switch_2:after {
    /*width: 30px;*/
    height: 30px;
    background: #666;
    border-radius: 80%;
    top: 50%;
    left: 10px;
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

input[type="checkbox"].switch_2:checked:before {
    left: calc(100% - 35px);
}

input[type="checkbox"].switch_2:checked:after {
    left: 75px;
    -webkit-transform: scale(0);
    transform: scale(0);
}


.modal-header.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*Main CSS*/


@media only screen and (max-device-width: 767px) {
    .login-logo img {
        margin: 0 auto;
    }

    .login-details .nav-tabs > li {
        text-align: center;
        width: 50%;
    }

    .login-signup .login-inner h1 {
        font-size: 26px;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .login-inner .login-form input {
        font-size: 15px;
        max-width: 100%;
        padding: 15px 45px;
    }

    .login-inner .form-details {
        padding: 25px;
    }

    .login-inner .login-form label {
        margin-bottom: 20px;
        width: 100%;
    }

    .login-inner .form-btn {
        margin: 0;
        max-width: 180px;
    }

    .tab-content .tab-pane {
        padding: 20px 0;
    }

    #navigation .navi a {
        font-size: 14px;
        padding: 20px;
        text-align: center;
    }

    #navigation .navi i {
        margin-right: 0px;
    }

    #navigation .navi a:hover,
    #navigation .navi .active a {
        background: #122143 none repeat scroll 0 0;
        border-left: none;
        display: block;
        padding-left: 20px;
    }

    header .header-top img {
        max-width: 38px !important;
    }

    .v-align header {
        padding: 12px 15px;
    }

    header .header-top li {
        padding-left: 13px;
        padding-right: 6px;
    }

    .navbar-default .navbar-toggle {
        border-color: rgba(0, 0, 0, 0);
    }

    .navbar-header .navbar-toggle {
        float: left;
        margin: 0;
        padding: 0;
        top: 12px;
    }

    button,
    html [type="button"],
    [type="reset"],
    [type="submit"] {
        outline: medium none;
    }

    .user-dashboard .sales h2 {
        color: #8492af;
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0;
    }

    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 11px;
    }

    .user-dashboard .sales button {
        font-size: 11px;
        padding-right: 23px;
    }

    .user-dashboard .sales h2 {
        font-size: 12px;
    }

    .gutter {
        padding: 0;
    }
}

@media only screen and (max-device-width: 992px) {
    header .header-top li {
        padding-left: 20px !important;
        padding-right: 0;
    }

    header .logo img {
        max-width: 125px !important;
    }

}

@media only screen and (min-device-width: 767px) and (max-device-width: 998px) {
    .user-dashboard .header-top {
        padding-top: 5px;
    }

    .user-dashboard .header-rightside {
        display: inline-block;
        float: left;
        width: 100%;
    }

    .user-dashboard .header-rightside .header-top img {
        max-width: 41px !important;
    }

    .user-dashboard .sales button {
        font-size: 10px;
    }

    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 12px;
    }

    .user-dashboard .sales h2 {
        font-size: 15px;
    }
}

@media only screen and (min-device-width: 998px) and (max-device-width: 1350px) {
    #navigation .logo img {
        max-width: 130px;
        padding: 16px 0 17px;
        width: 100%;
    }
}
